{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <script>
        $(function () {
            $("#id_Birthday").datetimepicker({
                format: 'd/m/Y H:i',
            });
        });
    </script>
    <style>
        .profile-pic {
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;
            border-radius: 50%;
        }

        .proof-pic {
            max-width: 100px;
            max-height: 100px;
            margin: 0 auto;
            overflow: hidden;
        }
    </style>
    <div style='margin-top:5px;margin-left:10px;margin-right:10px;'>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body">
                    <a class="btn btn-warning" href="{% url 'update_profile_pic' %}"> &#8592; update profile</a>
                    <hr>
                    <h3 style="text-align: center">Account Settings</h3>
                    <hr>
                    <img class="profile-pic" src="{{ request.user.profile_pic.url }}">


                </div>
            </div>
        </div>
    </div>
    <div style='margin-top:5px;margin-left:10px;margin-right:10px;'>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-3">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.Gender|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.Birthday|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form.phone_number|as_crispy_field }}
                </div>

                <div class="col-3">
                    {{ form.address1|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.address2|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.pin_code|as_crispy_field }}
                </div>
            </div>
            <div class="row">

                <div class="col-2">
                    {{ form.city|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.country|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.proof|as_crispy_field }}
                    <img class="proof-pic" src="{{ request.user.proof.url }}">
                </div>
                <div class="col-3">
                    <a class="btn btn-warning" href="{% url 'update_password' %}">update password</a>
                </div>
            </div>
            {{ form.errors }}
            <br>
            <input class="btn btn-primary" type="submit" name="save">
        </form>
    </div>
{% endblock %}