{% extends 'Restaurant/main.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% block content %}

    <div class="row">
        <div class="col-md">
            <table class="table table-hover" style="width:85%">
                <tr>
                    <th>Amount</th>
                    <th>Payment ID</th>
                    <th>Order ID</th>
                    <th>Payment status</th>
                    {#<th>Completion Status</th>#}
                    <th>Items</th>
                </tr>
                {#                <td>ord_itm</td>#}
                {% for i in prev_ord %}
                    {% if i.amount %}
                        <tr>
                            <td>₹{{ i.amount }}</td>
                            {% if i.payment_id == 'due payment' %}
                                <td><p>You Paid via wallet</p></td>
                            {% else %}
                                <td>{{ i.payment_id }}</td>
                            {% endif %}

                            <td>{{ i.order_id }}</td>
                            {% if i.paid %}
                                <td><p style="color :darkgreen; ">Paid</p></td>
                            {% else %}
                                <td><p style="color :red; ">Not Paid</p></td>
                            {% endif %}
                            {#                            {% if i.complete %}#}
                            {#                                <td><p style="color :darkgreen; ">Order Successfull</p></td>#}
                            {#                            {% else %}#}
                            {#                                <td><p style="color :red; ">Order Not Successfull</p></td>#}
                            {#                            {% endif %}#}
                            {#                    {% for j in prev_orditem %}#}
                            {#                        <td>j</td>#}
                            {#                    {% endfor %}#}
                            {% if i.paidto_wallet %}
                                <td><a class="btn btn-sm btn-info" href="#">wallet Payment</a></td>
                            {% else %}
                                <td><a class="btn btn-sm btn-info" href="{% url 'prev_items' i.id %}">View</a></td>
                            {% endif %}

                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}